<h1 style="text-align: center">Task List</h1>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control shadow-none"
          placeholder="Enter your task"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          [(ngModel)]="newTask"
        />
        <button
          class="btn btn-primary shadow-none"
          type="button"
          (click)="saveTask()"
        >
          Add task
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control shadow-none"
          placeholder="Search..."
          aria-label="Username"
          aria-describedby="basic-addon1"
          [(ngModel)]="search"
          (ngModelChange)="changeSearch()"
        />
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
      <table class="table table-borderless">
        <tbody *ngFor="let task of filterTasks">
          <tr>
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="{{ task.id }}"
                  [(ngModel)]="task.isCompleted"
                  (change)="changeStatusTask()"
                />
                <label class="form-check-label" for="{{ task.id }}">
                  {{ task.content }}
                </label>
              </div>
            </td>
            <td width="30px">
              <button
                type="button"
                class="btn btn-sm btn-outline-danger"
                (click)="removeTask(task.id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="tasks.length != 0" class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button
          type="button"
          class="btn btn-link shadow-none"
          (click)="filterAll()"
          [class.active]="filter == 'all'"
        >
          All
        </button>
        <button
          type="button"
          class="btn btn-link shadow-none"
          (click)="filterActive()"
          [class.active]="filter == 'active'"
        >
          Active
        </button>
        <button
          type="button"
          class="btn btn-link shadow-none"
          (click)="filterCompleted()"
          [class.active]="filter == 'completed'"
        >
          Completed
        </button>
      </div>
    </div>
  </div>
</div>
